@import "navbar.css";
@import "aboutus.css";
@import "blogs.css";
@import "footer.css";
@import "blogpost.css";

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.cover {
    width: 100%;
    max-height: 75vh;
}

.destinations-container {
    margin: 5vh 20vw 0 20vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    text-align: center;
}

.destinations {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

.caption {
    text-align: center;
    margin: 2vh 4vw 2vh 4vw;
    font-size: 1.25rem;
    display: flex;
    flex-flow: column;
    font-style: italic;
}

/*Extra small devices*/
@media screen and (min-width: 200px) and (max-width: 499px) {
    .destinations-container {
        justify-content: center;
        flex-wrap: wrap;
    }
 }

/*Small devices and Tablets*/
@media screen and (min-width: 500px) and (max-width: 767.98px) {
    .destinations-container {
        margin: 5vh 10vw 0 10vw;
    }
 }

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(-2px);
    }
}

/* Responsive design */
@media (max-width: 768px) {
    .counter-container {
        padding: 6px 12px;
        font-size: 0.9em;
    }
    
    .counter-number {
        font-size: 1.1em;
    }
}